body {
    height: 100vh;
    padding: 1rem;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root {
    height: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: calc(100% - 18rem);
}

.chat {
    height: calc(100vh - 10rem);
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding: 1rem;
    background-color: $chat-color;
    border-radius:20px 20px 0 0;
}

.chat-name-container {
    background: linear-gradient(to bottom, #272f3b 30%, transparent 80%);
    position: fixed;
    width: calc(100% - 4rem);
    max-width: calc(1200px - 2rem);
    height: 6rem;
    color: #fff;
    z-index: 2;
    text-align: center;
}

.chat-name {
    margin: 10px auto;
    text-align: left;
}

#login_pop {
    position: absolute;
    color: #fff;
    text-decoration: none;
    right: 1rem;
    top: 8%;
    display: inline-block;
    cursor: pointer;
}

.chat-window {
    position: relative;
    padding-bottom: 8rem;
    margin: 3rem auto 0;
    height: calc(100vh - 8rem);
    display: grid;
    grid-template-columns: 100%;
    // grid-template-rows: 92%;
    grid-template-rows: calc(100% - 6rem);

    @media (min-width: 768px) {
        height: calc(100vh - 5rem);
    }
}

@mixin scrollbars(
  $size: 10px,
  $foreground-color: rgba(72, 81, 95, 0.795),
  $background-color: rgb(38, 46, 56)
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }
  
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 0 7px;
    overflow: auto;
    @include scrollbars;
}

.msg {
    margin: 0 30px 10px 0;    
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 20px;
    // margin-bottom: 10px;
    background-color: rgb(123, 17, 155);
    border-radius: 20px;
    color: #fff;

    @media (min-width: 500px) {
        width: fit-content;
        max-width: 450px;
    }
}

.name {
    font-weight: bold;
}

.my {
    margin: 0 0 10px 30px;    
    flex-direction: row-reverse;
    align-self: flex-end;
    background: rgb(189, 29, 114);
}

.msg-form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: $chat-color;
    border-radius: 0 0 20px 20px;
}

.__editor {
    margin-bottom: 10px;
}

.msg-input {
    width: 100%;
    margin-right: 10px;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    background: transparent;
}

.msg-div {
    width: 100%;
    margin-right: 10px;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    background: transparent;
}

.msg-btn {
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    border: none;
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
    cursor: pointer;
    z-index: 40;
}

.btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img {
    border-radius: 50%;
    margin: 0 10px auto;
}

.btn-sign-out {
    margin: 10px 10px 10px auto; 
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}