body {
    padding: 1rem;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chat {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding: 1rem;
    background-color: rgb(39, 47, 59);
    border-radius:20px;
}

.chat-name-container {
    background: linear-gradient(to bottom, #272f3b 30%, transparent 80%);
    position: fixed;
    width: calc(100% - 4rem);
    height: 6rem;
    color: #fff;
    z-index: 2;
    text-align: center;
}

.chat-name {
    margin: 0 auto;
}

#login_pop {
    position: absolute;
    color: #fff;
    text-decoration: none;
    right: 1rem;
    top: 8%;
    // bottom: 50%;
    display: inline-block;
    cursor: pointer;
}

.chat-window {    
    position: relative;
    margin: 3rem auto 0;
    height: calc(100vh - 7rem);
    display: grid;
    grid-template-columns: 100%;
    // grid-template-rows: 92%;
    grid-template-rows: calc(100% - 3rem);
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: auto;
}

.msg {
    margin: 0 30px 10px 0;    
    display: flex;
    // align-items: flex-end;
    // margin-bottom: 10px;
    // float: left;
    // display: block;
    width: fit-content;
    padding: 10px 20px;
    // margin-bottom: 10px;
    background-color: rgb(123, 17, 155);
    border-radius: 20px;
    color: #fff;

    @media (min-width: 500px) {
        width: fit-content;
        max-width: 450px;
        // max-width: calc(100% - 5rem);
    //     width: calc(100% - 7rem);
    }

    // @media (min-width: 1024px) {
    //     width: calc(100% - 10rem);
    // }
}

.name {
    font-weight: bold;
}

.my {
    // text-align: right;
    margin: 0 0 10px 30px;    
    flex-direction: row-reverse;
    align-self: flex-end;
    // float: right;
    background: rgb(189, 29, 114);
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row-reverse;
}

.msg-form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    // min-width: 260px;
    // position: fixed;
    // left: 1em;
    // bottom: 2rem;
    // width: 95vw;
}

.msg-input {
    width: 100%;
    margin-right: 10px;
    // margin: 0 auto;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    background: transparent;
}

.msg-btn {
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    border: none;
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
    cursor: pointer;
}

#root {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img {
    border-radius: 50%;
    margin: 10px;
}

.btn-sign-out {
    margin: 10px 10px 10px auto; 
    display: block;
}